//SET-UP
@font-face {
    font-family: "OngDoTre";
    src: url("../../../public/fonts/00153-UTM-Ong-Do-Tre.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TextPhu";
    src: url("../../../public/fonts/iCielBCOldStyle-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../public/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$back-color: #63081A;
$text-color-green: #2A2D0A;
$text-color-black: #000000;
$text-color-white: #ffffff;
$branding-color: #DDCB78;

*{
    font-family: 'Roboto';
}

//SET-UP

.blog{
    &__sectionMain{
        height: 90vh;
        width: 100%;
        background-image: url(../../../public//images/back3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__text{
            font-family: 'TextPhu';
            font-size: 100px;
            margin-bottom: 8px;
        }
    }

    &__section{
        padding: 80px 0px;
        background-image: url(../../../public/images/back.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        &__section1{
            &__title{
                display: flex;
                align-items: end;
                justify-content: space-between;
                margin-bottom: 24px;

                &__main{
                    font-size: 32px;
                    font-family: "TextPhu";
                }

                &__disc{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $back-color;

                    &__icon{
                        margin-left: 8px;
                        cursor: pointer;
                    }
                }
            }

            a{
                display: flex;
                text-decoration: none;
                color: $text-color-black;
            }

            &__left{
                margin-right: 20px;
                padding: 20px;
                cursor: pointer;
                transition: all 0.2s ease-in;

                &__img{
                    width: 100%;
                    height: 300px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                &__text{
                    margin-top: 16px;
                    &__main{
                        font-size: 24px;
                        font-family: "TextPhu";
                    }

                    &__disc{
                        margin-top: 16px;
                        text-align: justify;
                    }
                }
            }

            &__left:hover{
                background-color: $text-color-green;
                transition: all 0.2s ease-in;
                color: white;
            }

            &__right{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 90%;

                &__box{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px;
                    cursor: pointer;
                    transition: all 0.2s ease-in;

                    &__img{
                        width: 40%;
                        height: 180px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            width: 100%;
                            height: auto;
                        }
                    }

                    &__text{
                        width: 57%;

                        &__title{
                            font-size: 24px;
                            font-family: "TextPhu";
                        }

                        &__disc{
                            margin-top: 16px;
                            text-align: justify;
                        }
                    }
                }

                &__box:hover{
                    background-color: $text-color-green;
                    transition: all 0.2s ease-in;
                    color: white;
                }
            }
        }

        &__section2{
            margin-top: 64px;
            &__right{
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 46%;
                    cursor: pointer;
                    padding: 20px;
                    transition: all 0.2s ease-in;

                    &__text{
                        &__title{
                            font-size: 24px;
                            font-family: "TextPhu";
                            margin-top: 16px;
                            margin-bottom: 16px;
                        }

                        &__disc{
                            text-align: justify;
                        }
                    }

                    &__img{
                        width: 100%;
                        background-color: aqua;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                &__box:hover{
                    background-color: $text-color-green;
                    color: white;
                }
            }
        }

        &__section3{
            margin-top: 64px;

            &__box{
                display: flex;
                flex-direction: column;
                padding: 20px;
                width: 98%;
                transition: all 0.2s ease-in;

                &__img{
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                &__title{
                    font-size: 24px;
                    font-family: "TextPhu";
                    margin-top: 16px;
                }

                &__disc{
                    margin-top: 16px;
                    width: 100%;
                    text-align: justify;
                }
            }

            &__box:hover{
                background-color: $text-color-green;
                color: white;
                transition: all 0.2s ease-in;
            }
        }
    }
}