//SET-UP
@font-face {
    font-family: "OngDoTre";
    src: url("../../../public/fonts/00153-UTM-Ong-Do-Tre.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TextPhu";
    src: url("../../../public/fonts/iCielBCOldStyle-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../public/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$back-color: #63081A;
$text-color-green: #2A2D0A;
$text-color-black: #000000;
$text-color-white: #ffffff;
$branding-color: #DDCB78;

*{
    font-family: 'Roboto';
}

.test2{
    background-color: $back-color;
    color: white;
}

//SET-UP

.contact{
    &__sectionMain{
        height: 90vh;
        width: 100%;
        background-image: url(../../../public//images/back3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__text{
            font-family: 'TextPhu';
            font-size: 100px;
            margin-bottom: 8px;
        }
    }

    &__section0p5{
        background-image: url(../../../public/images/back.png);
        height: 80px;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
    }

    &__section1p5{
        background-image: url(../../../public/images/back.png);
        height: 150px;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
    }

    &__section1{
        width: 100%;
        display: flex;
        padding: 80px 0px;
        background-image: url(../../../public/images/back3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &__inner{
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 80px;

            &__title{
                font-size: 40px;
                font-family: "TextPhu";
                margin-bottom: 32px;
            }

            &__qa{
                display: flex;
                justify-content: space-between;

                &__bar{
                    width: 20%;

                    &__choice{
                        width: 100%;
                        border-radius: 8px;
                        border: 1px solid $text-color-black;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 24px;
                        transition: all ease-in 0.2s;
                        cursor: pointer;
                    }
                    &__choice:hover{
                        background-color: $back-color;
                        transition: all ease-in 0.2s;
                        color: #ffffff;
                    }
                }

                &__ques{
                    width: 70%;

                    &__box{
                        display: flex;
                        border-bottom: 1px solid gray;
                        padding-bottom: 16px;
                        justify-content: space-between;
                        margin-bottom: 24px;

                        &__text{
                            display: flex;
                            flex-direction: column;
                            width: 75%;
                            text-align: justify;

                            &__title{
                                font-family: "TextPhu";
                                font-size: 24px;
                                margin-bottom: 8px;
                            }
                        }

                        &__button{
                            width: 35px;
                            height: 35px;
                            border-radius: 8px;
                            background-color: $back-color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}