//SET-UP
@font-face {
    font-family: "OngDoTre";
    src: url("../../../public/fonts/00153-UTM-Ong-Do-Tre.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TextPhu";
    src: url("../../../public/fonts/iCielBCOldStyle-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../../../public/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$back-color: #63081A;
$text-color-green: #2A2D0A;
$text-color-black: #000000;
$text-color-white: #ffffff;
$branding-color: #DDCB78;

*{
    font-family: 'Roboto';
}

//SET-UP

.about{

    &__sectionMain{
        height: 90vh;
        width: 100%;
        background-image: url(../../../public//images/back3.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &__text{
            font-family: 'TextPhu';
            font-size: 100px;
            margin-bottom: 8px;
        }
    }

    &__section1{
        display: flex;
        margin-top: 80px;

        .container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        img{
            margin-bottom: 40px;
        }

        &__left{
            margin-right: 91px;

            &__title{
                font-family: 'TextPhu';
                font-size: 32px;
            }
            
            &__text{
                margin-top: 32px;
                text-align: justify;
            }
        }

        &__right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            &__image1{
                background-image: url(../../../public/images/about-section1-image1.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 65%;
                height: 100%;
            }

            &__image2{
                background-image: url(../../../public/images/about-section1-image2.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 33%;
                height: 100%;
            }
        }
    }

    &__line{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 64px;

        &__inner{
            height: 3px;
            background-color: $back-color;
            border-radius: 100px;
            width: 6%;
        }
    }

    &__section2{

        .row{
            justify-content: space-between;
        }
        &__left{
            width: 100%;
            height: 100%;
            background-image: url(../../../public/images/about-section-2-image1.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        &__right{
            margin-left: 91px;
            &__text{
                &__title{
                    font-family: 'TextPhu';
                    font-size: 32px;
                }

                &__text{
                    margin-top: 32px;
                    text-align: justify;
                }
            }

            &__image{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 32px;

                &__image1{
                    width: 32.5%;
                    height: 150px;
                    background-image: url(../../../public/images/about-section-2-image2.png);
                    background-position: center;
                    background-size: cover;
                }
                &__image2{
                    width: 32.5%;
                    height: 150px;
                    background-image: url(../../../public/images/about-section-2-image3.png);
                    background-position: center;
                    background-size: cover;
                }
                &__image3{
                    width: 32.5%;
                    height: 150px;
                    background-image: url(../../../public/images/about-section-2-image4.png);
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }

    &__section3{
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__title{
            font-family: 'TextPhu';
            font-size: 32px;
            text-align: center;
        }

        &__disc{
            text-align: center;
            margin-top: 32px;
            margin-bottom: 24px;
            width: 70%;
        }

        &__image{
            height: 400px;
            width: 100%;
            background-image: url(../../../public/images/about-section3-image1.png);
            background-position: center;
            background-size: cover;
        }
    }

    &__section3p5{
        height: 100px;
        width: 100%;
        background-image: url(../../../public/images/back.png);
        background-size: cover;
        background-attachment: fixed;
        margin-top: 80px;
    }

    &__section4{
        background-image: url(../../../public/images/about-section4-back.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 160px;
        padding-left: 160px;
        padding-right: 160px;
        padding-bottom: 80px;
        display: flex;

        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img{
                margin-bottom: 80px;
            }
        }

        &__text{
            color: $text-color-white;
            text-align: center;
            margin-bottom: 24px;
            width: 50%;
        }

    }

    &__section5{
        display: flex;
        padding-top: 80px;
        padding-bottom: 160px;
        background-image: url(../../../public/images/back.png);
        background-size: cover;
        background-attachment: fixed;

        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__logo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 65%;
            height: 120px;

            img{
                height: 100px;
                width: auto;
                transition: all ease-in 0.15s;
            }
            img:hover{
                height: 120px;
            }
        }

        &__text{
            width: 40%;
            margin-top: 64px;
            text-align: center;
        }
    }

    &__section6{
        margin-top: 64px;

        &__title{
            text-align: center;
            font-family: 'TextPhu';
            font-size: 40px;
            margin-bottom: 64px;
        }

        &__image{
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 6 cột */
            grid-template-rows: repeat(4, 300px); /* 3 hàng với chiều cao 200px */
            gap: 24px; /* Khoảng cách giữa các ô */

            .item img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Giữ hình ảnh tỉ lệ đúng */
                cursor: pointer;
            }

            .item-1 {
                grid-column: span 2; /* Chiếm 3 cột */
                grid-row: span 1; /* Chiếm 1 hàng */
            }
            .item-4 {
                grid-column: span 1; /* Chiếm 3 cột */
                grid-row: span 2; /* Chiếm 1 hàng */
            }
            .item-5 {
                grid-column: span 1; /* Chiếm 3 cột */
                grid-row: span 2; /* Chiếm 1 hàng */
            }
            .item-6 {
                grid-column: span 1; /* Chiếm 3 cột */
                grid-row: span 2; /* Chiếm 1 hàng */
            }
            .item-7 {
                grid-column: span 2; /* Chiếm 3 cột */
                grid-row: span 1; /* Chiếm 1 hàng */
            }
        }

        &__more{
            display: flex;
            width: 100%;
            justify-content: end;
            align-items: center;
            margin-top: 32px;

            a{
                display: flex;
                text-decoration: none;
            }

            &__text{
                color: $back-color;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                line-height: 0;
                font-weight: 600;
                cursor: pointer;
            }

            &__icon{
                color: $back-color;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                line-height: 0;
                margin-left: 8px;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }

    &__section6p5{
        width: 100%;
        height: 120px;
        background-image: url(../../../public//images/back.png);
        background-size: cover;
        background-attachment: fixed;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    &__section6p6{
        width: 100%;
        height: 120px;
        background-image: url(../../../public//images/back.png);
        background-size: cover;
        background-attachment: fixed;
        margin-top: 80px;
    }
    
}

.modal {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); // Nền tối cho modal
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 90%;
    max-height: 90%;
    background-color: transparent;
}

.modal-image {
    max-width: 100%;
    max-height: 80vh; // Giới hạn chiều cao hình ảnh
    object-fit: contain;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.prev, .next {
    background-color:transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
